:root {
    --background: #000000;
    --text-color: #f0f0f0;
    --button-bg: #7c47d2;
    --button-bg-hover: #7632e2;
    --button-bg-active: #6324c7;
}

body {
    background-color: var(--background);
    color: var(--text-color);
    font-family: 'Open Runde', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#click-area {
    margin-top: 50px;
    text-align: center;
}

#click-counter {
    font-size: 2rem;
    margin-bottom: 1.25rem;
}

#click-me {
    padding: 0.9375rem 1.875rem;
    font-size: 1.25rem;
    background-color: var(--button-bg);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#click-me:hover {
    background-color: var(--button-bg-hover);
}

#click-me:active {
    background-color: var(--button-bg-active);
}

@media (max-width: 768px) {
    #click-counter {
        font-size: 1.5rem;
    }

    #click-me {
        font-size: 1rem;
        padding: 0.625rem 1.25rem;
    }
}